<%= render 'pages/galery_controls' %>

<h1>
  <%= @good.title %>
</h1>

<div class="space-16"></div>

<div class="row-fluid">

  <div class="span6">

    <div class="row-fluid">

      <div class="span6">
        <%= image_tag(asset_path(@good.item_attachments.first.image.url(:large)), width: 300, height: 600, class: 'preview') %>
      </div>


      <div class="links span6">

        <% @good.item_attachments.each_slice(3) do |attachments| %>

            <div class="span4 pull-left">

              <% attachments.each do |pic| %>

                  <div class="space-6"></div>

                  <%= link_to asset_path(pic.image.url), title: pic.name do %>
                      <%= image_tag(asset_path(pic.image.url(:thumb)), title: pic.name) %>
                  <% end %>

              <% end %>

            </div>

        <% end %>
      </div>


    </div>

  </div>

  <div class="span6 description">
    <p>
      <%= @good.description.html_safe %>
    </p>

    <div class="space-20"></div>

    <div class="row-fluid">
      <table class="table table-bordered" style="width: 95%;">
        <% @good.item_properties.each do |prop| %>
            <tr>
              <td style="width: 30%">
                <%= prop.name %>
              </td>
              <td>
                <%= prop.property %>
              </td>
            </tr>
        <% end %>
      </table>

      <% if @good.item_sizes.any? %>
          <legend>Размеры</legend>

          <% @good.item_sizes.each_slice(6) do |size_group| %>
              <div class="row-fluid">
                <% size_group.each do |size| %>
                    <div class="span2">
                      <ul class="unstyled scales">
                        <li class="scale-title">

                          <label class="lbl align-center">
                            <%= size.scale %>
                          </label>

                        </li>

                        <% size.size_scales.each do |scale| %>

                            <li class="scale-element">
                              <label class="align-center">
                                <%= scale.scale %>
                              </label>
                            </li>

                        <% end %>

                      </ul>
                    </div>

                <% end %>

              </div>
              <div class="space-6"></div>
          <% end %>
      <% end %>

    </div>
  </div>
</div>
<div class="space-30"></div>
