<div id="blueimp-gallery" class="blueimp-gallery">
  <div class="slides"></div>
  <h3 class="title"></h3>
  <a class="prev">‹</a>
  <a class="next">›</a>
  <a class="close">×</a>
  <a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>

<% if @items.any? %>
    <h1>
      <%= @items.first.category.name %>
    </h1>
    <% @items.each_slice(2) do |item_pair| %>
        <div class="row-fluid">

          <% item_pair.each do |item| %>

              <div class="span6">
                <div class="item-container">
                  <div class="row-fluid">
                    <div class="span9">
                      <h3 class="blue">
                        <%= item.title %>
                      </h3>
                    </div>
                    <div class="span3" style="text-align: right">
                      <%= link_to 'Подробнее', item_catalogs_path(@items.first.category.link, item.link), class: 'btn btn-mini btn-info' %>
                    </div>
                  </div>

                  <div class="row-fluid">

                    <p class="item-description">
                      <%= item.description.length > 300 ? "#{item.description.first(300).html_safe}..." : item.description.html_safe %>
                    </p>
                  </div>

                  <div class="row-fluid">
                    <div class="links">
                      <h4 class="blue">
                        Фото
                      </h4>
                      <ul class="inline blue" style="height: 100px;">
                        <% item.item_attachments.take(4).each do |attach| %>

                            <li>
                              <%= link_to asset_path(attach.image.url), title: attach.name, class: 'gallery-item' do %>
                                  <%= image_tag(asset_path(attach.image.url(:thumb)), title: attach.name) %>
                              <% end %>
                            </li>

                        <% end %>
                      </ul>

                    </div>
                  </div>

                  <div class="row-fluid">

                    <% if item.item_properties.any? %>

                        <h4 class="blue">
                          Свойства
                        </h4>

                        <table class="table table-hover">
                          <% item.item_properties.take(3).each do |property| %>
                              <tr>
                                <td style="width: 30%">
                                  <%= property.name %>
                                </td>
                                <td style="width: 70%">
                                  <%= property.property %>
                                </td>
                              </tr>
                          <% end %>
                        </table>

                    <% end %>

                  </div>

                </div>
              </div>
          <% end %>

        </div>
    <% end %>
<% else %>
    <h2>
      Товары в эту категорию пока не добавлены. <br/>
    </h2>
    <%= link_to 'Назад', :back %>
<% end %>