<h1>
  Контакты
</h1>

<p>
  <strong> Телефон: </strong> <%= @site_info.phone %>
</p>

<p>
  <strong> Email: </strong>
  <a href="<%= "mailto:#{@site_info.email}?subject=Заказ" %>" target="_blank"><%= @site_info.email %></a>
</p>

<p>
  <strong> Факс: </strong> <%= @site_info.fax %>
</p>

<p>
  <strong> Адрес: </strong> <%= @site_info.address %>
</p>

<p><strong>Наше местоположение на карте:</strong></p>


<div id="map" style="width: 1000px; height: 400px"></div>
<script>

    ymaps.ready(init);

    var myMap, myPlacemark;
    var latitude = <%= @site_info.latitude %>;
    var longitude = <%= @site_info.longitude %>;
    var address = '<%= @site_info.address %>';

    function init() {
        myMap = new ymaps.Map("map",
                {
                    center: [latitude, longitude ],
                    zoom: 16
                });
        myMap.controls
                .add('zoomControl', { left: 10, top: 10 })
                .add('typeSelector');

        myPlacemark = new ymaps.Placemark([latitude, longitude],
                {
                    hintContent: 'Мы здесь!',
                    balloonContent: address
                });

        myMap.geoObjects.add(myPlacemark);
    }
</script>