<div class="row-fluid">
  <div class="span12">
    <h3>
      Способы доставики:
    </h3>

    <p>
      Доставка осуществляется любым удобным для Вас способом.
      Мы работаем со следующими транспортными компаниями
    </p>
  </div>
</div>

<div class="space-30"></div>

<div class="row-fluid">

  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <%= image_tag asset_path('logistic/pek.jpg'), style: 'overflow: hidden; max-height: 100px;' %>
      </div>
      <div class="span6 right">
        <p>
          <a target="_blank" href="http://pecom.ru/ru/">Компания «ПЭК»</a> - эксперт в логистике. Мы доставляем сборный
          груз по всей
          России. Мы соединяем партнёров от
          Калининграда до Владивостока, от Мурманска до Сочи. Любым видом транспорта – любой груз наших Клиентов будет
          доставлен в оптимальные сроки и в максимальной сохранности.

        </p>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <%= image_tag asset_path('logistic/delovye.png'), style: 'overflow: hidden; max-height: 100px;' %>
      </div>
      <div class="span6 right">
        <p>
          <a href="http://dellin.ru" target="_blank">Транспортная компания “Деловые линии”</a> – грузоперевозки по
          городу и
          всей территории России.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="space-30"></div>

<div class="row-fluid">

  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <%= image_tag asset_path('logistic/avtotreid.jpg'), style: 'overflow: hidden; max-height: 100px;' %>
      </div>
      <div class="span6 right">
        <p>
          <a target="_blank" href="http://www.ae5000.ru/">«Автотрейдинг»</a> входит в число крупнейших
          транспортно-экспедиционных
          компаний в России, которая более 20 лет работает на рынке грузоперевозок. На сегодняшний день сеть
          «Автотрейдинга» насчитывает 105 филиалов по всей стране, обеспечивая доставку грузов более чем в 3500
          населенных пунктов от Калининграда до Владивостока.
        </p>
      </div>
    </div>
  </div>

  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <%= image_tag asset_path('logistic/transkom.jpg'), style: 'overflow: hidden; max-height: 100px;' %>
      </div>
      <div class="span6 right">
        <p>
          <a href="http://www.tk-transcom.ru/" target="_blank"> ООО Транспортная Компания ТРАНСКОМ</a> является
          международным экспедитором ОАО «РЖД» и грузоотправителем на Московском транспортном узле.

          Основные направления – перевозки экспортно-импортных и транзитных грузов по Российским железным дорогам и СНГ;
          прием и отправка грузов в контейнерах, вагонах и ж.д.платформах на станции Москва-товарная-Курская Московской
          ж.д.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="space-30"></div>

<div class="row-fluid">

  <div class="span6">
    <div class="row-fluid">
      <div class="span6">
        <%= image_tag asset_path('logistic/zeldor.gif'), style: 'overflow: hidden; max-height: 100px;' %>
      </div>
      <div class="span6 right">
        <p>
          <a href="http://www.jde.ru/" target="_blank">«ЖелДорЭкспедиция»</a> Служба доставки грузов — крупнейшая в
          России транспортно-экспедиционная компания, осуществляющая железнодорожные и автомобильные перевозки, а также
          экспедирование сборных грузов на территории РФ.
        </p>
      </div>
    </div>
  </div>

</div>

<div class="space-30"></div>

<div class="row-fluid">
  <h4>
    <strong>А так же:</strong>
  </h4>

  <p>
    <strong>Другими удобными для Вас трансопртными компаниями</strong>
  </p>

  <p>
    <strong>Собственным транспортом</strong>
  </p>

  <p>
    <strong>Самовывоз</strong>
  </p>

</div>
