<h1>Listing site_infos</h1>

<table>
  <thead>
    <tr>
      <th>Main text</th>
      <th>Phone</th>
      <th>Fax</th>
      <th>Email</th>
      <th>Address</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @site_infos.each do |site_info| %>
      <tr>
        <td><%= site_info.main_text %></td>
        <td><%= site_info.phone %></td>
        <td><%= site_info.fax %></td>
        <td><%= site_info.email %></td>
        <td><%= site_info.address %></td>
        <td><%= link_to 'Show', site_info %></td>
        <td><%= link_to 'Edit', edit_site_info_path(site_info) %></td>
        <td><%= link_to 'Destroy', site_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
