<div class="row-fluid  clearfix">
  <div class="span12">
    <ul class="footer-nav-list">
      <li>
        <%= link_to 'Каталог', catalogs_path %>
      </li>
      <li>
        <%= link_to 'Логистика', logistics_path %>
      </li>
      <li>
        <%= link_to 'Контакты', contacts_path %>
      </li>
      <li>
        <%= link_to 'О продукции', productions_path %>
      </li>
    </ul>
  </div>
</div>
<div style="padding-top: 20px"></div>
<div class="row-fluid">

  <div class="span3">
    <i class="fa fa-phone"></i> <%= @site_info.phone %> <br/>

    <% unless @site_info.second_phone.blank? %>
        <i class="fa fa-phone"></i> <%= @site_info.second_phone %>
    <% end %>

  </div>

  <div class="span3">
    <% unless @site_info.fax.blank? %>
        факс: <%= @site_info.fax %> <br/>
    <% end %>

    <p>
      <a href="<%= "mailto:#{@site_info.email}?subject=Заказ" %>" target="_blank"><%= @site_info.email %></a>
    </p>

  </div>

  <div class="span4">
    <p>
      <%= @site_info.address %>
    </p>
  </div>
  <div class="span2">
    &copy;Горизонт <%= Date.current.year %>
  </div>

</div>
<div style="padding-bottom: 20px"></div>




