<div class="row-fluid  clearfix">
  <div class="span12">
    <ul class="footer-nav-list">
      <li>
        <%= link_to 'Каталог', catalogs_path %>
      </li>
      <li>
        <%= link_to 'Логистика', logistics_path %>
      </li>
      <li>
        <%= link_to 'Контакты', contacts_path %>
      </li>
      <li>
        <%= link_to 'О продукции', productions_path %>
      </li>
    </ul>
  </div>
</div>
<div style="padding-top: 20px"></div>
<div class="row-fluid">

  <div class="span3">
    <i class="fa fa-phone"></i> +7 (960) 506-34-55 <br/>
    <i class="fa fa-phone"></i> +7 (926) 283-28-58
  </div>

  <div class="span3">
    факс: +7 (4932) 58-58-98 <br/>

    <p>
      <a href="mailto:sales.horizont@gmail.com?subject=Заказ" target="_blank">sales.horizont@gmail.com</a>
    </p>

  </div>

  <div class="span3">
    <p>
      Ивановская область, Комсомольский район, <br/> с. Подозерский, ул. Индустриальная, дом 1А.
    </p>
  </div>
  <div class="span3">
    &copy;Горизонт <%= Date.current.year %>
  </div>

</div>
<div style="padding-bottom: 20px"></div>




