<style>

</style>

<div class="row-fluid">
  <div class="span5 pull-left">
    <%= link_to root_path do %>
        <%= image_tag(asset_path(@site_info.logo.url(:main)), height: '60', width: '140') %>
        <h3 style="padding-top: 5px">
          ООО "Горизонт-текстиль"
        </h3>
    <% end %>
  </div>
  <div class="span7 pull-right" style="font-size: 16px;">
    <ul class="nav nav-pills pull-right">
      <li>
        <%= link_to 'Каталог', catalogs_path %>
      </li>
      <li>
        <%= link_to 'Логистика', logistics_path %>
      </li>
      <li>
        <%= link_to 'Контакты', contacts_path %>
      </li>
      <li>
        <%= link_to 'О продукции', productions_path %>
      </li>
    </ul>
    <div class="row-fluid">
      <div class="span12">
        <h3 class="pull-right">
          <i class="fa fa-phone"></i> <%= @site_info.phone %>
        </h3>
      </div>
    </div>
  </div>
</div>

