<h3>
  Товар
</h3>

<%= link_to 'Добавить', new_prv_item_path, class: 'btn btn-small btn-info' %>

<div class="space-16"></div>

<div id="content">

  <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
    <% first = true %>
    <% Category.active.each do |c| %>
        <li class="<%= 'active' if first %>"><a href="#<%= c.link %>" data-toggle="tab"><%= c.name %></a></li>
        <% first = false %>
    <% end %>
  </ul>

  <div id="my-tab-content" class="tab-content">
    <% first = true %>
    <% Category.active.each do |c| %>

        <div class="tab-pane <%= 'active' if first %>" id="<%= c.link %>">
          <% first = false %>

          <table class="table table-bordered">
            <thead>
            <tr>
              <th>Название</th>
              <th>Категория</th>
              <th>Количество фотографий</th>
              <th>Порядок</th>
              <th></th>
              <th></th>
            </tr>
            </thead>
            <%= render partial: 'prv/items/data_table', locals: {c: c} %>
          </table>
        </div>
    <% end %>

  </div>
</div>
