<%= form_for [:prv, @prv_category], html: {class: 'form-horizontal'} do |f| %>


    <% if @prv_category.errors.any? %>
        <div id="error_explanation" class="alert alert-error">
          <ul>
            <% @prv_category.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <legend>Инфо</legend>

    <div class="row-fluid">
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :is_active, class: 'control-label' %>
        <div class="controls">
          <%= f.check_box :is_active %>
          <label class="lbl"></label>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, class: 'control-label' %>
        <div class="controls">
          <%= f.text_area :description, rows: 4, style: 'width:400px;' %>
          <label class="lbl"></label>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :image, class: 'control-label' %>
        <div class="controls">
          <%= f.file_field :image%>
          <%= image_tag(asset_path(f.object.image.url(:thumb))) %>
        </div>
      </div>

    </div>


    <div class="form-actions">
      <%= f.submit 'Сохранить', class: 'btn btn-success btn-mini' %>
    </div>

<% end %>
