<h3>
  Категории
</h3>

<%= link_to 'Добавить', new_prv_category_path, class: 'btn btn-small btn-info' %>
<div class="space-10"></div>

<table class="table table-bordered">
  <thead>
  <tr>
    <th>#</th>
    <th>Название</th>
    <th>Товаров в категории</th>
    <th>Активна?</th>
    <th>Позиция</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @prv_categories.each do |prv_category| %>
      <tr>
        <td><%= prv_category.id %></td>
        <td><%= prv_category.name %></td>
        <td><%= prv_category.items.count %></td>
        <td><%= prv_category.is_active ? "<label class='label label-success'>Активен</label>".html_safe : "<label class='label label-warning'>Не активен</label>".html_safe %></td>
        <td>
          <%= prv_category.order_id %>
        </td>
        <td style="text-align: center">
          <%= link_to order_position_prv_category_path(prv_category, to: 'up'), remote: true do %>
              <i class="icon-arrow-up"></i>
          <% end %>
          <%= link_to order_position_prv_category_path(prv_category, to: 'down'), remote: true do %>
              <i class="icon-arrow-down"></i>
          <% end %>
        </td>
        <td>
          <%= link_to edit_prv_category_path(prv_category), class: 'btn btn-info btn-mini' do %>
              <i class="icon-edit bigger"></i>
          <% end %>
        </td>

        <td>
          <%= link_to prv_category_path(prv_category), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-mini' do %>
              <i class="icon-trash bigger"></i>
          <% end %>
        </td>

      </tr>
  <% end %>
  </tbody>
</table>
