<!DOCTYPE html>
<html>
<head>
  <title>Горизонт</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script src="http://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU"></script>
  <%= favicon_link_tag 'favico.ico' %>
  <%= csrf_meta_tags %>
</head>
<body style="font-family: 'PT Sans', Helvetica, Arial, sans-serif!important;">

<div class="wrap">

  <div class="header green">
    <%= render 'pages/header' %>
  </div>

  <div class="main clearfix">
    <%= yield %>
  </div>

</div>

<div class="footer">
  <%= render 'pages/footer' %>
</div>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter26079813 = new Ya.Metrika({id:26079813,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/26079813" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
